name: 'sample app repo'

on: 
  #workflow_dispatch:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  trigger_workflow:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/github-script@v6
      with:
        github-token: ${{ secrets.DISPATCH_PAT }}
        script: |
          await github.rest.actions.createWorkflowDispatch({
           owner: 'NEETweeb',
           repo: 'e2e_netmaykah',
           workflow_id: 'playwright.yml',
           ref: 'main'
          })